.photo-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    margin: 0 6vw;
    border-bottom: #333 1px solid;
  }
  
  .photo-info-left {
    flex: 0 0 50%;
    box-sizing: border-box;
    align-self: flex-end;
    border-bottom: #000 1px solid;
  }

  .photo-info-left h1 {
    text-transform: uppercase;
  }
  
  .photo-info-right {
    flex: 0 0 50%;
    position: relative;
    box-sizing: border-box;
  }
  
  .photo-info-right img {
    display: block;
    width: 40vw;
    height: auto;
    object-fit: cover;
  }
  
  .fullscreen-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .fullscreen-link:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  
  .photo-info-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 118px;
    box-sizing: border-box;
    margin-right: 3.5vw;
  }
  
  
  .photo-info-nav #contactBtn {
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    width: 20vw;
    height: 3vw;
    margin-right: 12vw;
    background-color: #D8D8D8;
  }
  
  .photo-info-nav-prev {
    
    
  }
  
  .photo-info-nav-next {
    
  }

  .photo-info-nav-block {
    width: 8vw;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

  }

  .nav-thumbnail {
    position: relative;
    width: 7vw;
    height: 6vw;
  }
  

  /* Photos apparentées */

  .related-block-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 1vw;
    margin: 2vw 9vw;
}

.related-photos img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    margin-top: 1vw;
}

  /* Style miniature photo suivante ou précédente */
  
.photo-info-nav-prev .nav-thumbnail,
.photo-info-nav-next .nav-thumbnail {
  display: none;
}

.photo-info-nav-prev:hover .nav-thumbnail,
.photo-info-nav-next:hover .nav-thumbnail {
  display: block;
}
  
  /* style bouton contact */
  .contact-link {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .contact-link:hover {
    background-color: #222;
  }
  
  /* Style de la modale  */
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .modal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .modal input,
  .modal textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .modal input[type="submit"] {
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .modal input[type="submit"]:hover {
    background-color: #222;
  }