
body {
  max-width: 1440px;
  margin: 0 auto;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: normal;
  margin: 2em 9vw 0 9vw;
}

  @media screen and (max-width: 767px) {
    .photo-info-container {
      display: flex;
      flex-direction: column;
    }
    .photo-container {
      display: flex;
      flex-direction: column-reverse;
      align-content: center;
    }
  }

  .container-header {
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.05);  
  }
  
  .photo-info-left {
    flex: 0 0 50%;
    box-sizing: border-box;
    align-self: flex-end;
    border-bottom: #000 1px solid;
  }

  .photo-info-left h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    width: 11vw;
  }

  .photo-info-left p a, .photo-info-left p {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
  
  .photo-info-right {
    position: relative;
  }
  
  .photo-info-right img {
    display: block;
    width: 40vw;
    height: auto;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    .photo-info-right {
      width: auto;
    }
    .photo-info-right img {
      width: 80vw;
    }
    .photo-info-left {
      align-self: flex-start;
      border-bottom: none;
      
    }
    .photo-info-nav {
      justify-content: flex-start!important;
      align-items: flex-start!important;
      flex-direction: column;
      border-top: black 1px solid;
    }
    .photo-info-nav-block {
      display: none!important;
    }
    .photo-info-nav #contactBtn {
      width: 80vw!important;
      height: 10vw!important;
    }
    .button-all-photo {
      display: none;
    }
    .related-block-photos {
      grid-template-columns: repeat(1, 1fr)!important;
      width: auto;
    }
    .related-block-photos a img {
      width: -webkit-fill-available;
      height: 70vw;
    }
    .photo {
      height: 70vw;
    }
  }
  
  .photo-info-nav {
    display: flex;
    height: 118px;
    box-sizing: border-box;
    align-items: center;
    margin: 0 9vw;
    justify-content: space-between;
    border-bottom: black 1px solid;
  }
  
  .photo-info-nav #contactBtn {
    font-size: 16px;
    font-family: 'Space Mono';
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 20vw;
    height: 3vw;
    margin-right: 12vw;
    background-color: #D8D8D8;
    transition: all 0.3s ease;
  }

  .photo-info-nav #contactBtn:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }

  .photo-info-nav-block {
    width: 8vw;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

    /* Style miniature photo suivante ou précédente */
  
  .photo-info-nav-prev .nav-thumbnail-prev,
  .photo-info-nav-next .nav-thumbnail-next {
    display: none;
  }

  .photo-info-nav-prev:hover .nav-thumbnail-prev,
  .photo-info-nav-next:hover .nav-thumbnail-next {
    display: block;
  }

  .nav-thumbnail-prev {
    position: absolute;
    bottom: -1.5vw;
    right: -10vw;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 6vw;
  }

  .nav-thumbnail-next {
    position: absolute;
    bottom: -1.5vw;
    right: -4vw;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 6vw;
  }

  .photo-info-nav-prev {
    position: relative;
  }

  .photo-info-nav-next {
    position: relative;
  }
  

  /* Photos apparentées */

.related-block-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 1vw;
  margin: 2vw 9vw;
}

.related-photos h2 {
  margin-left: 9vw;
  margin-top: 5vw;
  text-transform: uppercase;
}

.related-photos img {
    width: 41vw;
    height: 40vw;
    object-fit: cover;
}

.photo-info-interest p {
  font-family: 'Poppins';
  font-weight: 300;
}
 
  /* style bouton contact */
  .contact-link {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .photo-info-nav #contactBtn {
    font-size: 14px;
    font-weight: 400;
  }
  
  .contact-link:hover {
    background-color: #222;
  }
  
  /* Bouton toutes les photos */
  .button-all-photo {
    text-align: center;
    margin: 1vw 0 5vw 0;
  }

  .all-photos-button {
    display: inline-block;
    padding: 15px 45px;
    background-color: #D8D8D8;
    color: #000;
    text-decoration: none;
    border-radius: 2px;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  
  .all-photos-button:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }


  